/**
* Page container layout
*/
$layout-width-tablet: 616px !default;
$layout-width-desktop: 1224px !default;
$layout-padding: 16px !default;
$color-link: #f30096 !default;
$color-markdown-span: #005507 !default;
